*{
    margin: 0;
    padding: 0;
}
body{
    background-color: hsl(0, 3%, 94%);
    font-family: 'Roboto', sans-serif;
}
header{
    text-align: center;
    background-color: #D9EED9;
    padding:30px 0
}
nav{
    display: flex;
    justify-content: center;
}
nav ul{
    padding: 10px 0;
    width: 300px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: #4CAF50 ;
}
main{
    margin-bottom: 5%;
}
main > h2{
    margin: 3% 10%;
}
.product-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.product{
    background-color: white;
    padding: 20px;
    width: 50vw;
    height: 70vh;
    border-radius: 5px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
} 
.product img {
    width: 100%;
    border-radius: 5px;
}
.product > h2 {
    margin: 10px 0;
}
.product > p {
    margin-bottom: 10px;
}
.product > h2,p{
    text-align: center;
}
.price{
    font-size: 1.5em;
    color: #4CAF50 ;
}
footer{
    background-color: #124314;
    color: white;
    padding: 20px 0;
}
@media screen and (min-width:578px) {
    .product{
        height: 90vh;
    }
}
@media screen and (min-width:768px){

.product{
    width: 25vw;
    height: 65vh;
}
.product-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
}
@media screen and (min-width:968px) {
.product-list{
    margin: 0 auto;
    width: 75vw;
}
    
.product{
    width: 18vw;
    height: 80vh;
}
}